@charset "UTF-8";

body {
    background-color: #141414;
    color: white;
}

main {
    background-color: #1F1F1F;
    margin: auto;
    border: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0px;
    height: 852px;
    width: 450px;
    color: rgb(255, 255, 255);
    padding-bottom: 1px;
}

img {
    display: block; 
    margin: 0 auto; 
    border-radius: 97px;
}

h1 {
    text-align: center;
    font-family: 'Roboto';
    
}

p {
    text-align: center;
    font-family: 'Outfit';font-size: 22px;
    color: chartreuse;
    
}

p#a {
    color: white;
    font-size: 19px;
    font-family: 'Roboto';
    font-size: 20px;
    padding-top: 31px;
}



 a {
    display: block;
    margin: 0 auto;
    background-color: rgb(41, 41, 41);
    color: white;
    padding: 22px;
    margin: 15px;
    border-radius: 13px;
    text-decoration: none;
    text-align: center;
    font-family: 'Outfit';
    
}

a:hover {
    background-color: rgb(78, 78, 78);
    color: rgb(255, 255, 255);
    transition: background-color 1s;
}

@media screen and (min-width:768px) and (max-width:992px) { /*TABLET E CELULAR*/


    
}

